.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.view h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1.5rem;
  transition: all 0.3s ease;
}

.auth-form input[type="text"]:focus,
.auth-form input[type="password"]:focus {
  border-bottom: 2px solid #0077c0;
}

.auth-form button[type="submit"] {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #0077c0;
  color: #fff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-form button[type="submit"]:hover {
  background-color: #005ca9;
}
.errorLogin{
  color :red
}