.register_form {
margin-top: 5rem;
}

.register_page {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 80%;
margin: 0 auto;
max-width: 400px;
background-color: #fff;
padding: 2rem;
border-radius: 10px;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

input {
display: block;
width: 100%;
padding: 10px;
margin-bottom: 20px;
font-size: 16px;
line-height: 1.5;
color: #555;
border: 1px solid #ccc;
border-radius: 20px;
box-sizing: border-box;
}

input:focus {
border-color: #007bff;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input::placeholder {
color: #999;
}

input[type="submit"] {
display: block;
width: 100%;
padding: 10px;
font-size: 16px;
font-weight: 500;
color: #fff;
background-color: #007bff;
border: 1px solid #007bff;
border-radius: 4px;
cursor: pointer;
}

input[type="submit"]:hover {
background-color: #0069d9;
border-color: #0062cc;
}

.register_button[type="submit"] {
padding: 1rem 2rem;
font-size: 1rem;
background-color: #0077c0;
color: #fff;
border: none;
border-radius: 2rem;
cursor: pointer;
transition: all 0.3s ease;
}

.register_button[type="submit"]:hover {
background-color: #005ca9;
}
.error_register{
    margin-left: 39rem;
    color: red;
}